In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Dados.xlsx")

In [14]:
# Usando loc - manipulando linhas com números e colunas com strings
# df.loc[4:6] - Linhas
# df.loc[[1, 3, 4]] - Selecionar as linhas
# df.loc[4:6,["FirstName", "LastName"]] - vetores para pegar as colunas
df.loc[4:6, "FirstName":"LastName"]

  FirstName MiddleName  LastName
4      Gail          A  Erickson
5    Jossef          H  Goldberg
6     Dylan          A    Miller

In [27]:
# Usando iloc - manipulando linhas e colunas com intervalos númericos
df.iloc[[2, 6], 3:5]

  Title FirstName
2   NaN   Roberto
6   NaN     Dylan

In [3]:
df.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0